.containers{
  border: 5px solid #52D2C4;
  width: 600px;
  height: 700px;
  margin: auto;
  border-radius: 20px;
  position: relative;
}
.box {
    width: 200px;
    /* border: 1px solid black; */
  }
  
  .item-img {
    width: 100px;
    height: 100px;
  }
  
  .main {
    /* height: 500px; 화면 비율 (view height 보이는 높이) */
    display: flex;
    justify-content: center;  /*좌우 센터*/
    align-items: center;      /* 상하 센터 */
    
  }
 
  .vs{
    justify-content: space-around;
  }
  
  /* .win {  border: 10px solid yellowgreen;  color: yellowgreen; }
  .lose {  border: 10px solid tomato;  color: tomato; } */


.startmain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startmain button{
  cursor: pointer;
  width: 800px;
  height: 600px;
  border-radius: 20px;
}

.mainBtn{
  margin-top: 30px;
}

.mainBtn button{
  height: 50px;
  width: 80px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.questions{
  /* border: 3px solid burlywood; */
  border-radius: 20px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 80%;
}

.ch{
  position: absolute;
  width: 200px;
  height: 150px;
}

.gameHi{
  width: 100px;
}